* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  background-color: #1E1F21;
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #26AAE1;
  color: white;
  font-weight: 500;
  border-radius: 100vw;
  cursor: pointer;
  transition: border 600ms ease, background-color 600ms ease;
  border: none;
  box-shadow: -1px 2px 27px -4px rgba(38,170,225,0.6);
  -webkit-box-shadow: -1px 2px 27px -4px rgba(38,170,225,0.6);
  -moz-box-shadow: -1px 2px 27px -4px rgba(38,170,225,0.6);
}

h1 {
  font-size: 7.3vw;
  line-height: 1;
  font-weight: 500;
}

h2 {
  font-size: 6vw;
  font-weight: 500;
  text-wrap: nowrap;
}

h3 {
  font-size: 4vw;
  font-weight: 400;
  text-wrap: nowrap;
}

p {
  font-size: 3.5vw;
  font-weight: 400;
}

button {
  font-size: 4vw;
  padding: 2.8vw 7vw;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3.2vw;
    line-height: 1;
    font-weight: 500;
  }

  h2 {
    font-size: 1.7vw;
    font-weight: 500;
    text-wrap: nowrap;
  }

  h3 {
    font-size: 1.4vw;
    font-weight: 400;
    text-wrap: nowrap;
  }

  p {
    font-size: 1.25vw;
    font-weight: 400;
  }

  button {
    font-size: 1.1vw;
    padding: 0.9vw 2.4vw;
  }
}