.header {
  padding: 2vw 13vw;
  display: flex;
  justify-content: space-between;
  background-color: #1e1f2198;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.logo {
  width: 18vw;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.navLink {
  font-size: 1vw;
  font-weight: 700;
  color: white;
  transition: color 500ms ease;
}

.navLink.active {
  color: #26AAE1;
}

.navLink:hover {
  color: #26AAE1
}

.sectionMain {
  height: 50vw;
  padding: 0 13vw 7vw 13vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.sectionMain button:hover {
  background-color: #26a9e100;
  border: 1px solid #26AAE1;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.mainText p {
  color: rgb(206, 206, 206);
}

.blue {
  color: #26AAE1
}

.sectionPrinters {
  padding: 6vw 13vw;
}

.printersText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3vw;
}

.printersDescription {
  display: flex;
  flex-direction: column;
}

.printersDescription p {
  font-size: 1vw;
}

.industriesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1vw;
}

.industriesList li {
  position: relative;
  padding-left: 1vw;
}

.industriesList li p {
  font-weight: 600;
}

.industriesList li::before {
  content: "•";
  color: #26aae1;
  font-size: 2vh;
  position: absolute;
  left: 0;
  top: 0;
}

.printersPrinters {
  margin-top: 4vw;
}

.printersList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.printersListEl {
  -webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.4);
  border-radius: 1vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22vw;
}

.printersListEl a {
  color: white;
}

.printer1 {
  width: 15vw;
  height: 19vw;
}

.printer2 {
  width: 18vw;
  height: 19vw;
}

.printer3 {
  width: 12vw;
  height: 19vw;
}

.printersListEl h3 {
  margin-top: 2vw;
  align-self: flex-start;
}

.printersListEl div {
  align-self: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5vw;
}

.printersListEl div a {
  font-size: 1vw;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  transition: scale 500ms ease;
}

.printersListEl div a:hover {
  scale: 1.05;
}

.printersListEl div button {
  background-color: #ffffff00;
  border: 1px solid #26AAE1;
  font-size: 1vw;
  font-weight: 400;
  padding: 0.7vw 1.8vw;
}

.printersListEl div button:hover {
  background-color: #26AAE1;
  border: none;
}

.sectionEvents {
  padding: 6vw 13vw;
  background-color: #171616;
}

.border {
  border: 3px solid rgb(236, 236, 236);
  margin: 0.7vw 0 2vw 0;
}

.events {
  display: grid;
  grid-template-columns: 55% 45%;
}

.eventsScroller {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.eventsScroller div {
  display: flex;
  flex-direction: column;
}

.eventsScroller div button {
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  padding: 0.5vh;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.eventsScroller div button:hover {
  scale: 1;
}

.arrow {
  width: 1vw;
  height: 0.7vw;
}

.eventsList {
  display: grid;
  flex-direction: column;
  gap: 1vh;
}

.eventsList li {
  box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
  padding: 1vw;
  width: 36vw;
  background: #191919;
  border-radius: 0.5vw;
}

.eventsList li p {
  font-size: 0.85vw;
  color: #838383;
}

.eventsList li h3 {
  font-size: 1.05vw;
  font-weight: 600;
}

.image {
  border-radius: 2.5vw;
  scale: 1;
}

.sectionGallery {
  padding: 6vw 13vw;
  display: flex;
  flex-direction: column;
}

.picturesList {
  display: flex;
  align-self: center;
  gap: 0.7vw;
}

.galleryImage {
  border-radius: 0.6vw;
}

.scrollers {
  display: flex;
  align-self: center;
  margin-top: 1vw;
}

.scrollers button {
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  padding: 0.5vh;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.scrollers button:hover {
  scale: 1;
}

.arrow1 {
  width: 0.7vw;
  height: 1vw;
}

.sectionConsultationForm {
  padding: 6vw 13vw;
  background-color: #171616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionConsultationForm h2 {
  font-size: 2.7vw;
  font-weight: 500;
}

.consultationForm {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8vw;
}

.consultationFormInput {
  padding: 1.2vw;
  border-radius: 100vw;
  border: 2px solid white;
  background-color: hsla(0, 0%, 100%, 0);
  font-size: 1vw;
  font-weight: 400;
  color: rgb(202, 202, 202);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.consultationFormInput:focus {
  outline: none;
  border: 2px solid #26AAE1;
}

.consultationFormInput::placeholder {
  color: rgb(202, 202, 202);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.consultationFormCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.consultationForm button {
  margin-top: 0.5vw;
}

.consultationForm button:hover {
  background-color: #26a9e100;
  border: 1px solid #26AAE1;
}

.consultationFormCheckbox input[type="checkbox"] {
  appearance: none;
  width: 1vw;
  height: 1vw;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  border-radius: 0.3vh;
}

.consultationFormCheckbox input[type="checkbox"]:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.consultationFormCheckbox input[type="checkbox"]:checked {
  background-color: #26AAE1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consultationFormCheckbox input[type="checkbox"]:checked::before {
  content: "✔";
  color: white;
  font-size: 16px;
  font-size: 0.8vw;
}

.consultationFormCheckbox label {
  margin-left: 0.6vw;
  background-color: hsla(0, 0%, 100%, 0);
  font-size: 1vw;
  cursor: pointer;
}

.sectionFAQ {
  padding: 6vw 13vw;
}

.FAQ {
  display: grid;
  grid-template-columns: 50% 50%;
}

.FAQ h3 {
  font-size: 1.3vw;
}

.FAQTextOpen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vw;
}

.FAQNotButton {
  background-color: #ffffff00;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width: 100%;
}

.FAQTextOpen div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  padding: 0.5vh;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.FAQTextOpen button:hover, .FAQNotButton:hover {
  scale: 1;
}

.arrow2 {
  width: 1.2vw;
  height: 0.7vw;
}

.rotated {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}

.rotatedBack {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.FAQ p {
  font-size: 0.9vw;
  position: relative;
  padding-left: 1vw;
}

.FAQ p::before {
  content: "•";
  color: #26aae1;
  font-size: 2vh;
  position: absolute;
  left: 0;
  top: 0;
  
}

.FAQText:not(:last-child) {
  margin-bottom: 2vw;
}

.FAQAnswers li:not(:last-child) {
  margin-bottom: 0.2vw;
}

.warning {
  margin-top: 3vw;
  color: #838383;
  font-size: 1vw;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: column;
  background-image: url('/img/footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6vw 13vw;
}

.footer h1 {
  align-self: center;
  text-align: center;
}

.contacts {
  margin-top: 6vw;
  display: flex;
  justify-content: space-between;
}

.contacts li {
  display: flex;
  align-items: center;
  gap: 0.5vh;
}

.footer p {
  font-weight: 600;
  font-size: 1.4vw;
}

.footerIcon {
  scale: 0.7;
}