.header {
  padding: 2vw 10vw;
  display: flex;
  justify-content: space-between;
  background-color: #1e1f2198;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.logo {
  width: 40vw;
}

.nav {
  display: none;
}

.menu {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  -webkit-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0);
}

.mobileMenu {
  display: none;
}

.mobileMenuOpen {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  height: 1000vw;
  top: 0;
  right: 0;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  position: fixed;
  right: 0;
  background-color: #1E1F21;
  padding: 8vw 8vw 0 8vw;
  height: 1000vw;
  width: 40vw;
}

.navLink {
  font-size: 3vw;
  font-weight: 700;
  transition: color 500ms ease;
  color: white;
}

.navLink.active {
  color: #26AAE1;
}

.navLink:hover {
  color: #26AAE1
}

.sectionMain {
  height: 50vw;
  padding: 5vw 10vw 95vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.sectionMain button {
  margin-top: 19vw;
}

.sectionMain button:hover {
  background-color: #26a9e100;
  border: 1px solid #26AAE1;
}

.backgroundVideo {
  z-index: 98;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.mainText {
  margin-top: 25vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  z-index: 99;
}

.mainText h1 {
  text-align: center;
}

.mainText p {
  color: rgb(206, 206, 206);
  text-align: center;
}

.blue {
  color: #26AAE1
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #1E1F21;
  padding: 6vw;
  border-radius: 3vw;
  text-align: center;
  position: relative;
  width: 80vw;
}

.popup h2 {
  font-size: 5vw;
  font-weight: 500;
  text-wrap: wrap;
  text-align: center;
  margin-bottom: 4vw;
}

.popupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4vw;
}

.popupForm div {
  display: flex;
  flex-direction: column;
  gap: 2.4vw;
}

.popupFormInput {
  padding: 3vw;
  border-radius: 100vw;
  border: 1px solid white;
  background-color: hsla(0, 0%, 100%, 0);
  font-size: 2.8vw;
  font-weight: 400;
  color: rgb(202, 202, 202);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.popupFormInput:focus {
  outline: none;
  border: 1px solid #26AAE1;
}

.popupFormInput::placeholder {
  color: rgb(202, 202, 202);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.popupForm button {
  margin-top: 2.4vw;
  font-size: 3vw;
  padding: 2.8vw 6vw;
}

.popupForm button:hover {
  background-color: #26a9e100;
  border: 1px solid #26AAE1;
}

.popupForm p {
  margin-top: 2vw;
  color: #838383;
  font-size: 2.2vw;
}

.popupForm p a {
  text-decoration: underline;
}

.sectionPrinters {
  padding: 8vw 10vw;
}

.printersText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5vw;
}

.printersDescription {
  display: flex;
  flex-direction: column;
}

.printersDescription p {
  font-size: 3.5vw;
}

.industriesList {
  display: flex;
  flex-direction: column;
  margin-top: 2.5vw;
}

.industriesList li {
  position: relative;
  padding-left: 4vw;
}

.industriesList li p {
  font-weight: 600;
  font-size: 3.5vw;
}

.industriesList li::before {
  content: "•";
  color: #26aae1;
  font-size: 3vh;
  position: absolute;
  left: 0;
  top: -6px;
}

.printersPrinters {
  margin-top: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2vw;
}

.printersList {
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  align-items: center;
  justify-content: center;
}

.arrowsMobile {
  background: #ffffff00;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

.arrow1Printers {
  scale: 0.4;
}

.printersListEl {
  -webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.4);
  border-radius: 1.5vh;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}

.printersListEl a {
  color: white;
}

.printer1 {
  width: 35vw;
  height: 42vw;
}

.printer2 {
  width: 40vw;
  height: 42vw;
}

.printer3 {
  width: 27vw;
  height: 42vw;
}

.printersListEl h3 {
  margin-top: 2vw;
  align-self: center;
}

.printersListEl div {
  align-self: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vw;
  gap: 4vw;
}

.printersListEl div a {
  font-size: 3.5vw;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  transition: scale 500ms ease;
}

.printersListEl div a:hover {
  scale: 1.05;
}

.printersListEl div button {
  background-color: #ffffff00;
  border: 1px solid #26AAE1;
  font-weight: 400;
  font-size: 3.5vw;
  padding: 2.4vw 6.5vw;
  margin-top: 3vw;
}

.printersListEl div button:hover {
  background-color: #26AAE1;
  border: none;
}

.sectionEvents {
  padding: 8vw 10vw 0 10vw;
  background-color: #171616;
}

.border {
  border: 1px solid rgb(236, 236, 236);
  margin: 0.7vw 0 2vw 0;
}

.events {
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
}

.eventsScroller {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}

.eventsScroller div {
  display: flex;
  flex-direction: column;
}

.eventsScroller div button {
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
  padding: 0.5vh;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  scale: 3;
}

.arrow {
  width: 1.3vw;
  height: 0.9vw;
}

.eventsList {
  display: grid;
  flex-direction: column;
  gap: 1vh;
}

.eventsList li {
  box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
  padding: 3vw;
  width: 70vw;
  background: #191919;
  border-radius: 1vw;
}

.eventsList li p {
  font-size: 2.5vw;
  color: #838383;
}

.eventsList li p:first-of-type {
  margin-bottom: 0.7vw;
}

.eventsList li p:last-of-type {
  margin-top: 0.7vw;
}

.eventsList li h3 {
  font-size: 2.8vw;
  font-weight: 600;
  text-wrap: wrap;
}

.eventImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 2.5vw;
  scale: 0.57;
  margin-top: -15vw;
}

.sectionGallery {
  padding: 8vw 10vw;
  display: flex;
  flex-direction: column;
}

.galleryScrolling {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  margin-top: 2vw;
}

.picturesList {
  display: flex;
}

.picturesList li:not(:first-child) {
  margin-top: -14vw;
}

.galleryImage {
  border-radius: 2vw;
  width: 68vw;
  height: 48vw;
}

.mobileScroll {
  background: rgba(255, 255, 255, 0);
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.arrow1 {
  width: 3.8vw;
  height: 5.3vw;
}

.sectionConsultationForm {
  padding: 8vw 10vw;
  background-color: #171616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionConsultationForm h2 {
  font-size: 6vw;
  font-weight: 500;
  text-wrap: wrap;
  text-align: center;
}

.consultationForm {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4vw;
}

.consultationFormInput {
  padding: 3vw;
  border-radius: 100vw;
  border: 1px solid white;
  background-color: hsla(0, 0%, 100%, 0);
  font-size: 2.8vw;
  font-weight: 400;
  color: rgb(202, 202, 202);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.consultationFormInput:focus {
  outline: none;
  border: 1px solid #26AAE1;
}

.consultationFormInput::placeholder {
  color: rgb(202, 202, 202);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.consultationFormCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.consultationForm button {
  margin-top: 2.4vw;
  font-size: 3.3vw;
  padding: 2.8vw 6vw;
}

.consultationForm button:hover {
  background-color: #26a9e100;
  border: 1px solid #26AAE1;
}

.consultationFormCheckbox input[type="checkbox"] {
  margin-top: 2vw;
  appearance: none;
  width: 3.2vw;
  height: 3.2vw;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  border-radius: 0.3vh;
}

.consultationFormCheckbox input[type="checkbox"]:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.consultationFormCheckbox input[type="checkbox"]:checked {
  background-color: #26AAE1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consultationFormCheckbox input[type="checkbox"]:checked::before {
  content: "✔";
  color: white;
  font-size: 2.4vw;
}

.consultationFormCheckbox label {
  margin-left: 1.7vw;
  background-color: hsla(0, 0%, 100%, 0);
  font-size: 2.4vw;
  cursor: pointer;
  margin-top: 2vw;
}

.sectionFAQ {
  padding: 8vw 10vw;
}

.FAQ h3 {
  font-size: 2.3vw;
}

.FAQList {
  margin-top: 4vw;
}

.FAQTextOpen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FAQTextOpen h3 {
  font-size: 3.6vw;
  width: 90%;
  text-wrap: wrap;
  text-align: left;
}

.FAQNotButton {
  background-color: #ffffff00;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width: 100%;
}

.FAQTextOpen div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 6vw;
  padding: 0.5vh;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  scale: 2.5;
}

.arrow2 {
  width: 1.75vw;
  height: 1vw;
}

.rotated {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}

.rotatedBack {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.FAQAnswers {
  margin-top: 2vw;
}

.FAQ p {
  position: relative;
  padding-left: 3vw;
  font-size: 3vw;
}

.FAQ p::before {
  content: "•";
  color: #26aae1;
  font-size: 2vh;
  position: absolute;
  left: 0;
  top: -0.9vw;
}

.FAQText:not(:last-child) {
  margin-bottom: 2vw;
}

.FAQAnswers li:not(:last-child) {
  margin-bottom: 0.7vw;
  margin-top: 2vw;
}

.warning {
  margin-top: 4vw;
  color: #838383;
  font-size: 2.6vw;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: column;
  background-image: url('/img/footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6vw 10vw;
}

.footer h1 {
  align-self: center;
  text-align: center;
  font-size: 5.8vw;
}

.contacts {
  margin-top: 6vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contacts li {
  display: flex;
  align-items: center;
}

.contacts li:not(:last-child) {
  margin-bottom: -4vw;
}

.footer p {
  font-weight: 600;
  font-size: 3vw;
}

.footerIcon {
  scale: 0.5;
}

@media screen and (min-width: 1000px) {
  .header {
    padding: 2vw 13vw;
    display: flex;
    justify-content: space-between;
    background-color: #1e1f2198;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 100;
  }
  
  .logo {
    width: 18vw;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
  
  .navLink {
    font-size: 1vw;
    font-weight: 700;
    color: white;
    transition: color 500ms ease;
  }
  
  .navLink.active {
    color: #26AAE1;
  }
  
  .navLink:hover {
    color: #26AAE1
  }

  .mobileMenu, .menu {
    display: none;
  }
  
  .sectionMain {
    height: 50vw;
    padding: 0 13vw 7vw 13vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  
  .sectionMain button:hover {
    background-color: #26a9e100;
    border: 1px solid #26AAE1;
  }
  
  .mainText {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
  }

  .mainText h1 {
    text-align: start;
  }
  
  .mainText p {
    color: rgb(206, 206, 206);
  }
  
  .popup {
    background: #1E1F21;
    padding: 3vw 5vw;
    border-radius: 1vw;
    text-align: center;
    position: relative;
    width: auto;
  }
  
  .popup h2 {
    margin-bottom: 2vw;
    font-size: 2.8vw;
  }

  .popupForm {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
  }

  .popupForm div {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
  }
  
  .popupFormInput {
    padding: 1.2vw;
    border-radius: 100vw;
    border: 2px solid white;
    background-color: hsla(0, 0%, 100%, 0);
    font-size: 1vw;
    font-weight: 400;
    color: rgb(202, 202, 202);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
  
  .popupFormInput:focus {
    outline: none;
    border: 2px solid #26AAE1;
  }
  
  .popupForm button {
    margin-top: 0.5vw;
    font-size: 1.1vw;
    padding: 0.9vw 2.4vw;
  }

  .popupForm p {
    margin-top: 1vw;
    color: #838383;
    font-size: 0.9vw;
  }
  
  .sectionPrinters {
    padding: 6vw 13vw;
  }
  
  .printersText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vw;
  }
  
  .printersDescription {
    display: flex;
    flex-direction: column;
  }
  
  .printersDescription p {
    font-size: 1vw;
    font-size: 1.25vw;
  }
  
  .industriesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1vw;
  }
  
  .industriesList li {
    position: relative;
    padding-left: 0.8vw;
  }
  
  .industriesList li p {
    font-weight: 600;
    font-size: 1.25vw;
  }
  
  .industriesList li::before {
    content: "•";
    color: #26aae1;
    font-size: 2vh;
    position: absolute;
    left: 0;
    top: 4px;
  }
  
  .printersPrinters {
    margin-top: 4vw;
  }
  
  .printersList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .printersListEl {
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.4);
    border-radius: 1vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
  }
  
  .printersListEl a {
    color: white;
  }
  
  .printer1 {
    width: 15vw;
    height: 19vw;
  }
  
  .printer2 {
    width: 18vw;
    height: 19vw;
  }
  
  .printer3 {
    width: 12vw;
    height: 19vw;
  }
  
  .printersListEl h3 {
    margin-top: 2vw;
    align-self: flex-start;
  }
  
  .printersListEl div {
    align-self: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vw;
  }
  
  .printersListEl div a {
    font-size: 1vw;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    transition: scale 500ms ease;
  }
  
  .printersListEl div a:hover {
    scale: 1.05;
  }
  
  .printersListEl div button {
    background-color: #ffffff00;
    border: 1px solid #26AAE1;
    font-size: 1vw;
    font-weight: 400;
    padding: 0.7vw 1.8vw;
    margin-top: 0;
  }
  
  .printersListEl div button:hover {
    background-color: #26AAE1;
    border: none;
  }
  
  .sectionEvents {
    padding: 6vw 13vw;
    background-color: #171616;
  }
  
  .border {
    border: 3px solid rgb(236, 236, 236);
    margin: 0.7vw 0 2vw 0;
  }
  
  .events {
    display: grid;
    grid-template-columns: 55% 45%;
  }
  
  .eventsScroller {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
  }
  
  .eventsScroller div {
    display: flex;
    flex-direction: column;
  }
  
  .eventsScroller div button {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    padding: 0.5vh;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    scale: 1;
  }
  
  .arrow {
    width: 1vw;
    height: 0.7vw;
  }
  
  .eventsList {
    display: grid;
    flex-direction: column;
    gap: 1vh;
  }
  
  .eventsList li {
    box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 21px -5px rgba(0,0,0,0.75);
    padding: 1vw;
    width: 36vw;
    background: #191919;
    border-radius: 0.5vw;
  }

  .eventsList li p:first-of-type {
    margin-bottom: 0;
  }
  
  .eventsList li p:last-of-type {
    margin-top: 0;
  }
  
  .eventsList li p {
    font-size: 0.85vw;
    color: #838383;
  }
  
  .eventsList li h3 {
    font-size: 1.05vw;
    font-weight: 600;
  }

  .eventImage {
    display: unset;
  }
  
  .image {
    border-radius: 2.5vw;
    scale: 1;
    margin-top: 0;
    margin-left: 0;
  }
  
  .sectionGallery {
    padding: 6vw 13vw;
    display: flex;
    flex-direction: column;
  }
  
  .picturesList {
    display: flex;
    align-self: center;
    gap: 0.7vw;
    flex-direction: row;
  }

  .picturesList li:not(:first-child) {
    margin-top: 0;
  }
  
  .galleryImage {
    border-radius: 0.6vw;
    margin-top: 0;
    scale: 1;
    width: auto;
    height: auto;
  }
  
  .scrollers {
    display: flex;
    align-self: center;
    margin-top: 1vw;
  }

  .galleryScrolling {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 0;
  }
  
  .scrollers button {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    padding: 0.5vh;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    scale: 1;
  }
  
  .arrow1 {
    width: 0.7vw;
    height: 1vw;
  }
  
  .sectionConsultationForm {
    padding: 6vw 13vw;
    background-color: #171616;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sectionConsultationForm h2 {
    font-size: 2.7vw;
    font-weight: 500;
  }
  
  .consultationForm {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
  }
  
  .consultationFormInput {
    padding: 1.2vw;
    border-radius: 100vw;
    border: 2px solid white;
    background-color: hsla(0, 0%, 100%, 0);
    font-size: 1vw;
    font-weight: 400;
    color: rgb(202, 202, 202);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
  
  .consultationFormInput:focus {
    outline: none;
    border: 2px solid #26AAE1;
  }
  
  .consultationFormInput::placeholder {
    color: rgb(202, 202, 202);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
  
  .consultationFormCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  
  .consultationForm button {
    margin-top: 0.5vw;
    font-size: 1.1vw;
    padding: 0.9vw 2.4vw;
  }
  
  .consultationForm button:hover {
    background-color: #26a9e100;
    border: 1px solid #26AAE1;
  }
  
  .consultationFormCheckbox input[type="checkbox"] {
    margin-top: 0;
    appearance: none;
    width: 1vw;
    height: 1vw;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    border-radius: 0.3vh;
  }
  
  .consultationFormCheckbox input[type="checkbox"]:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .consultationFormCheckbox input[type="checkbox"]:checked {
    background-color: #26AAE1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .consultationFormCheckbox input[type="checkbox"]:checked::before {
    content: "✔";
    color: white;
    font-size: 16px;
    font-size: 0.8vw;
  }
  
  .consultationFormCheckbox label {
    margin-left: 0.6vw;
    background-color: hsla(0, 0%, 100%, 0);
    font-size: 1vw;
    cursor: pointer;
    margin-top: 0;
  }
  
  .sectionFAQ {
    padding: 6vw 13vw;
  }
  
  .FAQ {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .FAQ h3 {
    font-size: 1.3vw;
  }
  
  .FAQTextOpen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vw;
  }

  .FAQTextOpen h3 {
    font-size: 1.4vw;
  }
  
  .FAQNotButton {
    background-color: #ffffff00;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width: 100%;
  }
  
  .FAQTextOpen div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    padding: 0.5vh;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    scale: 1;
  }

  .FAQList {
    margin-top: 0;
  }
  
  .arrow2 {
    width: 1.2vw;
    height: 0.7vw;
  }
  
  .rotated {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
  }
  
  .rotatedBack {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  
  .FAQ p {
    font-size: 0.9vw;
    position: relative;
    padding-left: 1vw;
  }
  
  .FAQ p::before {
    content: "•";
    color: #26aae1;
    font-size: 2vh;
    position: absolute;
    left: 0;
    top: -0.1vw;
  }
  
  .FAQText:not(:last-child) {
    margin-bottom: 2vw;
  }
  .FAQAnswers {
    margin-top: 0;
  }
  
  .FAQAnswers li:not(:last-child) {
    margin-bottom: 0.2vw;
    margin-top: 0vw;
  }
  
  .warning {
    margin-top: 3vw;
    color: #838383;
    font-size: 1vw;
    font-weight: 500;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    background-image: url('/img/footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6vw 13vw;
  }
  
  .footer h1 {
    align-self: center;
    text-align: center;
    font-size: 3.2vw;
  }
  
  .contacts {
    margin-top: 6vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: normal;
  }
  
  .contacts li {
    display: flex;
    align-items: center;
    gap: 0.5vh;
  }

  .contacts li:not(:last-child) {
    margin-bottom: 0;
  }
  
  .footer p {
    font-weight: 600;
    font-size: 1.4vw;
  }
  
  .footerIcon {
    scale: 0.7;
  }
}